<body>
    <div class="col-12 d-flex p-0 justify-content-center align-items-center" style="height: 6em">
        <h2 style="color: #7a614c">เลือกประเภท</h2>
    </div>
    <div class="col-12 d-flex p-0 justify-content-around">
        <a onclick="foodList('Meat')" class="col-5 d-flex justify-content-center align-items-center" style="height: 10em; background-color: #7a614c;border-radius: 8px">
            <h2 class="text-white">เนื้อ</h2>
        </a>
        <a onclick="foodList('Sea Food')" class="col-5 d-flex justify-content-center align-items-center" style="height: 10em; background-color: #7a614c;border-radius: 8px">
            <h2 class="text-white">ทะเล</h2>
        </a>
    </div>
</body>