<script src="./Components/order.js"></script>
<body>
    <div class="col-12 d-flex p-0 justify-content-center align-items-center" style="height: 6em">
        <h2 style="color: #7a614c">ออเดอร์</h2>
    </div>
    <div id="cartList" class="bg-white" style="height: calc(90vh - 16em);overflow:auto">
        
    </div>
    <div class="d-flex justify-content-around align-items-center" style="height: 5em;">
        <a onclick="resetOrder()" class="d-flex justify-content-around align-items-center bg-danger" style="height: 3em; width: 8em;border-radius: 8px;">
            <h5 class="pt-2 text-white">รีเซ็ท</h5>
        </a>
        <a onclick="sendOrder()" class="d-flex justify-content-around align-items-center bg-success" style="height: 3em; width: 8em;border-radius: 8px;">
            <h5 class="pt-2 text-white">ส่งออเดอร์</h5>
        </a>
    </div>
</body>