<script src="./Components/orderDetail.js"></script>
<body>
        <div class="container-fluid">
                <table id="order-content" class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>รูป</th>
                            <th>ชื่อ</th>
                            <th>ราคา</th>
                            <th>จำนวน</th>
                            <th>รวม</th>
                        </tr>
                    </thead>
                </table>
                <div class="col-12 d-flex justify-content-center aligh-items-center p-0">
                    <button onclick="toHome()" type="button" class="btn btn-danger">กลับ</button>
                    <div style="width: 20px"></div>
                    <button onclick="confirmOrder()" type="button" class="btn btn-success">รับออเดอร์</button>
                </div>
            </div>
</body